
<h1> songs </h1>

<%=songData[0].song_name%> 

<a href="/insert">insert hard code value</a>

<form method="POST" action="/insert">
    <input name="myName">
    <input type="submit" value="save my name!">

</form>