
<h1> songs </h1>

<%#=songData[0%>

<section>

<form method="POST"  action="/delete/<%=songData[0]._id%>">
    <%=songData[0].song_name%>   
    <p>action="/delete/<%=songData[0]._id%>"</p>
    <input type="submit" value="delete first song">
</form>

</section>
<section>
<form method="POST"  action="/update">
    <input type="hidden" name="nameID" value="<%=songData[0]._id%>">
    <input name="inputUpdateName">
    <input type="submit" value="update first song">
</form>
</section>



<!-- <a href="/insert">insert hard code value</a> -->

<form method="POST" action="/insert">
    <input name="myName">
    <input type="submit" value="save my name!">

</form>